body{
    font-family: 'Caveat', sans-serif;
    background-color: #EFF7ED;
    margin: 0px;
    padding: 0px;
}

#main{
    width: 100vw;
}

.skip{
    background: white;
    left: 0px;
    padding: 6px;
    position: absolute;
    top: -50px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  
.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

.overview{
    text-align: center;
    background-color: rgb(109, 145, 109);
    margin: 0px;
    padding: 30px;
    height: 30%;
}


.m-nav{
    background-color: #3A5134;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.m-nav li{
    list-style-type: none;
}

#side-nav{
    position: fixed;
    z-index: 100;
    width: 17%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3A5134;
    margin: 0;
    padding: 0;
}

#open{
    display: none;
}

.hide{
    display: none !important;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav img {
    margin:30px;
}

a:-webkit-any-link{
    color:#EFF7ED;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    text-decoration: underline;
}
.link-curr{
    background-color: #1d291a;
}

.close{
    position: relative;
    top: 0;
    left: 35%;
}

footer{
    text-align: center;
    margin-top: 70px;
}

/* ------------------------------------------------------------------------------- */
/* Home styling */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img{
    border: 2px solid rgb(1, 97, 1);
    border-radius: 25px;
    position: relative;
    z-index: 10;
}

#bp{
    left: 20px;
    /* order: 3; */
}

.set{
    display: flex;
    align-items: flex-end;
    
}

.extra-set{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.extra-set p{
    margin-bottom: 50px;
}
.extra-set #bp{
    order: 3;
}

/* ------------------------------------------------------------------------------- */
/* Beetles styling */
.beet{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.beet h2{
    margin-top: 50px;
    margin-bottom: 0px;
}
.beet p{
    font-size: 18px;
}
.beet figure{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.beet figure img{
    align-self: center;
}

#style_beet{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

/* ------------------------------------------------------------------------------- */
/* Extra styling */

.sort{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-style{
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 10%;
}
.b-style:hover{
    font-size: 30px;
}

#extra-format{
    text-align: center;
    margin-bottom: 50px;
}

.videos > *:not(.current,.right,.left){
    display: none;
}
.right,.left{
    display: none;
}

.videos{
    display: flex;
    align-items: center;
}

.left{
    order:2;
}
.right{
    order:4;
}
.current{
    order:3;
}

/* ------------------------------------------------------------------------------- */
/* Pinning styling */
#intro{
    margin-top:50px;
}
#pinning-vid{
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}

/* ------------------------------------------------------------------------------- */
/* Breakpoints */
@media screen and (min-width: 700px){
    a:-webkit-any-link{
        font-size: 30px;
    }

    #side-nav{
        width: 25%;
    }

    #open{
        display: block;
        position: relative;
        font-size: 40px;
        background-color: transparent;
        left: 10px;
        border: none;
    }
    #open:hover{
        font-size: 50px;
    }
    .m-nav{
        display: none;
    }

    #style_beet img{
        width:300px;
    }

    #pinning-vid{
        margin-top: 20px;
        width:450px; 
        height:350px;
    }

    .current{
        width:420px;
        height:315px;
    }

    .extra-set img{
        width: 300px;
    }
}

@media screen and (min-width: 1100px){
    #side-nav{
        width: 17%;
    }
    .container img{
        border: 2px solid rgb(1, 97, 1);
        border-radius: 25px;
        margin-bottom: 30px;
    }
    .set img{
        width: 400px;
    }
    .fix:hover{
        width:450px !important;
    }
    .new:hover{
        width:350px !important;
    }
    .container p{
        position: relative;
        border: 2px solid rgb(1, 97, 1);
        border-radius: 25px;
        background-color: #EFF7ED;
        padding: 25px;
        right: 20px;
        z-index: 0;
        width: 300px;
        height: 100px;
    }
    .container p:hover{
        padding: 40px !important;
    }

    .fix:hover{
        width:450px !important;
    }
    .new:hover{
        width:350px !important;
    }
    
    #bp{
        left: 20px;
    }

    .beet{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }
    .beet h2{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .beet p{
        font-size: 18px;
    }
    #style_beet{
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        border: 2px solid rgb(1, 140, 1);
        border-radius: 25px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
    }

    .b-style{
        font-size: 30px;
        width: 10%;
    }
    .b-style:hover{
        font-size: 50px;
    }
    
    #extra-format{
        margin-bottom: 50px;
    }
    .right,.left{
        display: block;
        opacity: .3;
        width: 300px;
        height: 200px;
    }
    .current{
        width:420px;
        height:315px;
    }

    #intro{
        margin-top:50px;
    }
    #pinning-vid{
        margin-top: 40px;
        width:600px; 
        height:500px;
    }
}